.type-icon {
  color: #757575;
  margin-right: 5px;
}

.example-nested-tree-invisible {
  display: none;
}

.example-nested-tree ul,
.example-nested-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}