.post-card {
    min-width: 500px;
    max-width: 900px;
}

.post-card-image {
    max-width: 992px;
}

.post-card-header-image {
    background-image: url('../../../assets/3Cat.jpg');
    background-size: cover;
    background-position: center;
  }
  