// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'palette.scss';
// @import 'super-block.scss';


@include mat-core();

$angular-material-demo-primary: mat-palette($mat-indigo);
$angular-material-demo-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-material-demo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-material-demo-theme: mat-light-theme($angular-material-demo-primary, $angular-material-demo-accent, $angular-material-demo-warn);

// Init default theme.
.demo-theme {
  @include angular-material-theme($angular-material-demo-theme);
  // @include super-block-theme($angular-material-demo-theme);
}

// Define an alternate dark theme.
$angular-material-demo-dark-primary: mat-palette($mat-blue-grey);
$angular-material-demo-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$angular-material-demo-dark-warn: mat-palette($mat-deep-orange);
$angular-material-demo-dark-theme: mat-dark-theme($angular-material-demo-dark-primary, $angular-material-demo-dark-accent, $angular-material-demo-dark-warn);

// Init dark theme.
.demo-dark-theme {
  @include angular-material-theme($angular-material-demo-dark-theme);
  // @include super-block-theme($angular-material-demo-dark-theme);
}

// Define an alternate custom theme.
$angular-material-demo-custom-primary: mat-palette($md-palette1);
$angular-material-demo-custom-accent: mat-palette($md-palette2);
$angular-material-demo-custom-warn: mat-palette($md-palette3);
$angular-material-demo-custom-theme: mat-light-theme($angular-material-demo-custom-primary, $angular-material-demo-custom-accent, $angular-material-demo-custom-warn);

.demo-custom-theme {
  @include angular-material-theme($angular-material-demo-custom-theme);
  // @include super-block-theme($angular-material-demo-custom-theme);
}



/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
