<mat-drawer-container>
  <mat-drawer #drawer mode="side" fxLayout="column" fxFlex="100%" fxFlex.gt-sm="100%" fxLayoutAlign="start center" >
    <mat-toolbar (click)="drawer.toggle()">User info</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item><img mat-card-avatar src="../../../assets/4Giraffe.jpg">
        <span class="example-list-item">Giraffe</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span class="example-list-item-logout">Logout</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>angular-material-demo</span>
  </mat-toolbar>
  <ng-content></ng-content>
</mat-drawer-container>