<div>
  <h1>title h1</h1>
  <h2>title h2</h2>
  <h3>title h3</h3>
  <h4>title h4</h4>
  <p>text without typography!</p>
</div>

<div class="mat-typography">
  <h1>title h1 with mat-typography</h1>
  <h2>title h2 with mat-typography</h2>
  <h3>title h3 with mat-typography</h3>
  <h4>title h4 with mat-typography</h4>
  <p>typography works!</p>
</div>

<div>
  <div class="mat-display-4">
    text mat-display-4
  </div>
  <div class="mat-display-3">
    text mat-display-3
  </div>
  <div class="mat-display-2">
    text mat-display-2
  </div>
  <div class="mat-display-1">
    text mat-display-1
  </div>
  <div class="mat-headline">
    text mat-headline
  </div>
  <div class="mat-title">
    text mat-title
  </div>

  <div class="mat-subheading-2">
    text mat-subheading-2
  </div>

  <div class="mat-subheading-1">
    text mat-subheading-1
  </div>

  <div class="mat-body-1">
    text mat-body-1
  </div>

  <div class="mat-body-2">
    text mat-body-2
  </div>

  <div class="mat-caption">
      text mat-caption
  </div>
</div>
